<br>
<div class="slider slides" ng-repeat="group in groups | filter: {name: name}:true">
    <ul class="slides" ng-controller="newController">
      <li>
        <img src="{{group.img[0]}}">
      </li>
      <li>
        <img src="{{group.img[1]}}">
      </li>
    </ul>
  </div>

<div class="row" ng-repeat="group in groups | filter: {name: name}:true">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="{{group.image}}">
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card-content">
        <h2><span class="card-title">{{group.name}}</span></h2>
        <p><span><b>Decade: </b></span>{{group.decade}}</p>
        <p><span><b>Songs: </b></span><span ng-repeat="songs in group.songs">{{songs}}, </span></p>
        </div>
  </div>
</div>